<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="kidKrishkode">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta itemprop="image" content="https://avatars.githubusercontent.com/u/150600460?v=4">
    <meta property="og:site_name" content="kidKrishkode">
    <meta property="twitter:image" content="https://avatars.githubusercontent.com/u/150600460?v=4">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="kidKrishkode">
    <meta content="Krish, Innovative and task-driven full-stack web developer with 6+ years of hands-on programming experience. Specializing in machine learning-powered web solutions.." lang="en-us" name="description">
    <meta content="kidKrishkode, Krish Portfolio, kidkrishkode, Krishnendu, Fullsatck web developer, Website, project, Hire, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">About - kidKrishkode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css" />
    <link rel="stylesheet" href="../public/index.css" />
    <link rel="icon" href="../public/favicon.ico" />
</head>

<body class="not-notes">
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="about">
        <div class="about-head">
            <div class="about-left">
                <div class="user-dp-back">
                    <div class="user-dp"></div>
                </div>
            </div>
            <div class="about-right">
                <div class="header">
                    <div class="user-name">Krishnendu Mitra</div>
                    <div class="flx">
                        <div class="profession">FullStack Web Developer & AI Prompt Engineer</div>
                        <div>Son of Dibyendu Mitra & Jayanti Mitra</div>
                    </div>
                </div>
                <div class="box">
                    <div class="head">Bio</div>
                    <div class="about">
                        Krishnendu Mitra, affectionately known as Krish, is a passionate student pursuing a Bachelor's
                        degree in Computer Science and Engineering. Hailing from the vibrant city of Kolkata in West
                        Bengal, India, Krish embodies a multifaceted skill set and a relentless enthusiasm for
                        technology.<br>
                        As a versatile Full-stack web developer and AI prompt engineer, Krish has honed his expertise in
                        a plethora of programming languages, including HTML, CSS, JavaScript, Node.js, Python,
                        Bootstrap, React, Java, C, and C++, Mongos, etc. His commitment to crafting seamless user
                        experiences extends beyond conventional web development, delving into the realms of Artificial
                        intelligence and API integration.<br>
                        Despite being in the early stages of his professional journey, Krish has already left his mark.
                        Having contributed to projects like Ai Dictionary and EdEqu, he has served as a technical
                        support stalwart and a mentor in computer education. Krish's dedication to his craft transcends
                        the digital realm, reflecting his passion for empowering others through technology. Beyond his
                        technical prowess, Krish embraces linguistic diversity, proficient in Bengali, Hindi, and
                        English. Hailing from a modest, middle-class family, he exemplifies resilience and
                        determination, showcasing that passion and hard work supersede financial status.
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="head mr-l5">Qualification</div>
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">Degree/Certificate</th>
                        <th scope="col">Department</th>
                        <th scope="col">Board/University</th>
                        <th scope="col">Year of Passing</th>
                        <th scope="col">Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" title="Bachelor of Technology">B.Tech</td>
                        <td title="Computer Science & Engineering">C.S.E</td>
                        <td>Maulana Abul Kalam Azad University of Technology</td>
                        <td>2021-Present</td>
                        <td>Appear in 2025</td>
                    </tr>
                    <tr>
                        <td scope="row">12th</td>
                        <td title="Mathematics, Physics, Chemistry, Biology">Pure Science</td>
                        <td>West Bengal Council of Higher Secondary Education </td>
                        <td>2021</td>
                        <td>77%</td>
                    </tr>
                    <tr>
                        <td scope="row">10th</td>
                        <td title="Bengali, English, Mathematics, Physics, Biology, History, Grography">General</td>
                        <td>West Bengal Board of Secondary Education </td>
                        <td>2019</td>
                        <td>65%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <div class="head mr-l5">Skills</div>
            <table class="table-skills">
                <thead>
                    <tr>
                        <th scope="col">Programing Lanuage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HTML</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:90%">90%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:92%">92%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Bootstrap</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:75%">75%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Java Script</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:95%">95%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>React Js</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:88%">88%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Node Js</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:98%">98%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:92%">92%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Type Script</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:79%">79%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>SQL</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:86%">86%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:93%">93%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>CPP</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:73%">73%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:77%">77%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Shell Script</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:86%">86%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Operationg System</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Windows 11</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:95%">95%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Windows 10</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:87%">87%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Windows 7</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:76%">76%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Windows XP</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:73%">73%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Linux Ubantu</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:90%">90%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Linux Red Hat</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:85%">85%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">MicroSoft Office</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Word</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:97%">97%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Excel</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:90%">90%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>PPT</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:94%">94%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th scope="col">Other Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Coral Draw</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:83%">82%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="chatGPT, videogen, Lionardo, Zapper, Adoll, Sintra, etc..">AI tools</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    style="width:94%">94%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <div class="head mr-l5">Curriculum Activity</div>
            <div class="activity">
                <div>Volunteering</div>
                <div>Madhyamgram Blood camp (2022, 2023)<br>Soulanguri Waste Recycle charity (2017-2020)</div>
            </div>
        </div>
    </section>
    <!-- <div class="dots top-dots"></div>
    <div class="dots bottom-dots"></div> -->
</body>
<script src="../public/App.js"></script>
<script>
    pageSet.push('header');
    currentPage.push('About');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;

</script>

</html>