<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand nav-head" href="/" style="outline: none;">
       <img src="../public/logo1500.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
        Krishfolio
    </a>
    <ul class="nav justify-content-end" id="nav-menu">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/services">Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
    <span class="nav-search">
        <i class="fa fa-moon-o" id="theme1" onclick="system.themeToggle('theme1');"></i>
        <input type="text" class="form-control" placeholder="Search Krishfolio"/>
    </span>
    <i class="fa fa-moon-o mobile-theme" id="theme2" onclick="system.themeToggle('theme2');"></i>
    <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="navbar_toggle();">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<section class="workspace blbg" id="side-menu" onclick="navbar_toggle();"></section>