<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="kidKrishkode">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta itemprop="image" content="https://avatars.githubusercontent.com/u/150600460?v=4">
    <meta property="og:site_name" content="kidKrishkode">
    <meta property="twitter:image" content="https://avatars.githubusercontent.com/u/150600460?v=4">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="kidKrishkode">
    <meta content="Krish, Innovative and task-driven full-stack web developer with 6+ years of hands-on programming experience. Specializing in machine learning-powered web solutions.." lang="en-us" name="description">
    <meta content="kidKrishkode, Krish Portfolio, kidkrishkode, Krishnendu, Fullsatck web developer, Website, project, Hire, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Error - kidKrishkode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="stylesheet" href="../public/index.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<style>
    body{
        overflow: hidden!important;
        background-image: url('../images/error-texture.png');
    }
    small{
        display: none;
        width: 70%;
        padding: 5px 10px;
        background: #fe6e6e8a;
        color: #fff;
        border: 2px solid red;
        border-radius: 5px;
        margin: 0px auto 24px auto;
    }
</style>
<body>
    <section class="workspace" id="e404">
        <img src="../images/shape1.png" class="l-img" alt="load"/>
        <img src="../images/shape1.png" class="r-img" alt="load"/>
        <h1>ERROR <span><%= error %></span></h1>
        <h2>Something <u>went</u> wrong!</h2>
        <h4><%= message %></h4>
        <div class="mt-4">
            <a href="javascript:void();" onclick="window.history.back(-1)" class="btn btn-outline-primary btn-round m-1 waves-effect waves-themed">Previous Page </a>
        </div>
    </section>
</body>
<script src="../public/App.js"></script>
</html>