<div class="modal-content">
    <div class="modal-header"><div class="time">load</div></div>
    <div id="batch" style="background-image: url('../images/doc1.png');"></div>
    <div class="modal-info">
        <h4 id="level">Diagnosis Report</h4>
        <div class="flo">
            <p>
                <span>Diagnosis Name: </span><br>
                <span>Diagnosis Type: </span><br>
                <span>Pasent Name: </span><br>
                <span>Pasent Age: </span><br>
                <span>Pasent Gender: </span><br>
            </p>
            <p style="text-transform: capitalize;">
                Diabetes<br>
                Predict<br>
                <%= name %><br>
                <%= age %><br>
                Male<br>
            </p>
        </div>
    </div>
    <hr class="divider">
    <div class="modal-body">
        <div class="flo" id="feature">
            <%= feature %>
        </div>
        <hr class="divider">
        <div class="flo" id="result">
            <%= result %>
        </div>
        <small class="text-muted form-text">This Report data is machine generated, please always consult with your doctor before take any step.</small>
        <hr class="divider">
        <div class="flo">
            <img src="../images/heart.jpg" alt="loading.." title="Heart Disease"/>
            <img src="../images/diabetes.png" alt="loading.." title="Diabetes"/>
            <img src="../images/lungs.png" alt="loading.." title="Asthma"/>
            <img src="../images/brain.jpg" alt="loading.." title="Brain Cancer"/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="clear" onclick="route('./');">Back</button>
    </div>
</div>
