<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta content="Krishfolio is a portfolio website for Krishnendu that leverages JPEN stack technology, Krishfolio is my personal portfolio website, where Krish open to hire and show down his all projects and ideas." lang="en-us" name="description">
    <meta content="Krishfolio, Krish Portfolio, kidkrishkode, Krishnendu, Fullsatck web developer, Website, project, Hire, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Krishfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="stylesheet" href="../public/index.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<body>
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="projects">
        <div class="searchBox">
            <div class="searchBar">
                <div class="searchText">
                    <input type="text" placeholder="Search Krish's Projects" name="search" id="searchData" onkeyup="search_product('searchData','drop');">
                </div>
                <div class="searchIcon" title="Manually search project">
                    <i class="fa fa-search"></i> Search
                </div>
            </div>
        </div>
        <ol class="search-product-data" id="productList">
            <%= productList %>
        </ol>
        <div id="searchDataDOD">
            <img src="../images/404.svg" alt="loading"/>
        </div>
    </section>
    <section class="workspace blbg" id="side-menu" onclick="navbar_toggle();"></section>
    <!-- <div class="dots top-dots" style="top: 12%; width: 75px; height: 25px;"></div> -->
    <div class="des top-right-des"></div>
    <div class="des bottom-left-des rotate"></div>
</body>
<script src="../public/App.js"></script>
<script>
try{
    setTimeout(()=>{
        document.getElementById("productList").innerHTML = document.getElementById("productList").textContent;
    },1000);
}catch(e){
    console.log("");
}
</script>
<script>
    pageSet.push('header');
    currentPage.push('Projects');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    setTimeout(()=>{
        let a = document.querySelectorAll('.icon').length;
        for(let i=0; i<a; i++){
            document.querySelectorAll('.icon')[i].innerHTML = document.querySelectorAll('.icon')[i].textContent;
        }
    },1000);
</script>
</html>